﻿
@{
    ViewBag.Title = "About";
        Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div style="margin-top:4%;text-align:center">
        <p style="font-weight:700;font-size:30px">About Us</p>
        <p style="font-size: 20px">We are direct suppliers of products from factories in China. On the site you will find the most complete catalog of accessories for mobile devices and not only. Our range includes products from such popular brands as Apple and Samsung, as well as widely popular brands such as Huawei, Xiaomi, Meizu and many others.</p>
    </div>

    <section id="mobile-app-area">
        <div class="mbYTP_wrapper" id="wrapper_mobileapp-video-bg" style="position: absolute; z-index: 0; min-width: 100%; min-height: 100%; left: 0px; top: 0px; overflow: hidden; opacity: 1; transition-property: opacity; transition-duration: 500ms;">
            <div class="YTPOverlay" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
        </div><div class="mbYTP_wrapper" id="wrapper_mobileapp-video-bg" style="position: relative;">
            <div class="row">
                <div class="col-lg-12">
                    <div class="mobile-app-content">
                        <h2>Phone Store</h2>
                        <p>Easy &amp; Simple way for you become happy</p>
                        <div class="app-btns">
                            <a href="" id="promo-btn"></i>Promo</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>